<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comprar Oro</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Comprar Oro</h1>
<div id="wallet_container">
<form th:action="@{/crear-preferencia}" method="post">
    <label for="monto">Cantidad de oro a comprar:</label>
    <input type="number" id="monto" name="monto" min="10" required>
    <button type="button" data-id="paqueteDiamante" onclick="comprar(this)">Comprar con Mercado Pago</button>
</form>
<!--    <form onsubmit="return false;">-->
<!--        <label for="monto">Cantidad de oro a comprar:</label>-->
<!--        <input type="number" id="monto" name="monto" min="10" required>-->
<!--        <button type="button" data-id="paqueteDiamante" onclick="comprar(this)">Comprar con Mercado Pago</button>-->
<!--    </form>-->
</div>
<a class="button" th:href="@{/ver-tienda}">Volver a la Tienda</a>
<script th:src="@{/js/mercadoPago.js}" defer></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<!--<script>-->
<!--    // Configure sua chave pública do Mercado Pago-->
<!--    const publicKey = "APP_USR-6674ddbc-26cd-49a4-9245-fb430b35e6fd";-->
<!--    // Configure o ID de preferência que você deve receber do seu backend-->
<!--    const preferenceId = "YOUR_PREFERENCE_ID";-->

<!--    // Inicializa o SDK do Mercado Pago-->
<!--    const mp = new MercadoPago(publicKey);-->

<!--    // Cria o botão de pagamento-->
<!--    const bricksBuilder = mp.bricks();-->
<!--    const renderWalletBrick = async (bricksBuilder) => {-->
<!--        await bricksBuilder.create("wallet", "walletBrick_container", {-->
<!--            initialization: {-->
<!--                preferenceId: "<PREFERENCE_ID>",-->
<!--            }-->
<!--        });-->
<!--    };-->

<!--    renderWalletBrick(bricksBuilder);-->
<!--</script>-->
</body>
</html>